<%include ../partials/header%>
<div class="container">
	<p><%=listing.name%></p>
	<img src="<%=listing.image%>">
	<p><%=listing.description%></p>
	<p>
		<a class="btn btn-success" href="/listings/<%=listing._id%>/comments/new">Add new comment</a>
	</p>
	<ul>
		<%listing.comments.forEach(function(comment){%>
			<li><strong><%=comment.author%></strong>
			 - <%=comment.text%></li>
		<%})%>
	</ul>
	<%include ../partials/footer%>
</div>