<%include ../partials/header%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="display-4"><%=listing.name%></p>
			<ul class="list-group">
				<a class="list-group-item list-group-item-action"
				href="/listings/<%=listing.id%>">
					Overview</a>
				<a class="list-group-item list-group-item-action active"
				href="/listings/<%=listing.id%>/gallery">
					Gallery</a>
				<a class="list-group-item list-group-item-action"
				href="/listings/<%=listing.id%>/features">
				Features</a>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="card">

				<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
				    <%for(let i=1; i<listing.gallery.length; i++){%>
					    <li data-target="#carouselIndicators" data-slide-to="<%=i%>"></li>
				    <%}%>
				  </ol>
				  <div class="carousel-inner">
					  	<%listing.gallery.forEach((image, index) => {%>
						    <div class="carousel-item <%if (index===0) {%>active<%}%>">
						      <img class="d-block w-100" src="<%=image%>" alt="Image">
						    </div>
					    <%});%>
				  </div>
				  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>
<%include ../partials/footer%>