<%include ../partials/header%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="display-4"><%=listing.name%></p>
			<ul class="list-group">
				<a class="list-group-item list-group-item-action active"
				href="/listings/<%=listing.id%>">
					Overview</a>
				<a class="list-group-item list-group-item-action"
				href="/listings/<%=listing.id%>/gallery">
					Gallery</a>
				<a class="list-group-item list-group-item-action"
				href="/listings/<%=listing.id%>/features">
				Features</a>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="card">
				<img class="card-img-top" src="<%=listing.image%>">
				<div class="card-body">
					<div class="card-title d-flex justify-content-between align-items-center">
						<h4><%= listing.name%></h4>
						<h5>£<%=listing.price%> per night</h5>
					</div>
					<p class="card-text">
						<%=listing.description%>
					</p>
					<p class="text-muted">
						Listed by <%=listing.author.username%>
					</p>
					<%if(currentUser && listing.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
					<a class="btn btn-warning" href="/listings/<%=listing._id%>/edit">Edit</a>
					<form class="d-inline" 
					action="/listings/<%=listing._id%>?_method=DELETE" 
					method="POST">
						<button class="btn btn-danger">Delete</button>
					</form>
					<%}%>
				</div>
			</div>

			<div class="card mt-4">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h5 class="comment-header">Comments</h5>
					<a class="btn btn-success d-inline" href="/listings/<%=listing._id%>/comments/new">Add new comment</a>
				</div>
				<ul class="list-group list-group-flush">
					<%listing.comments.forEach(function(comment){%>
						<li class="list-group-item">
							<strong><%=comment.author.username%></strong>
							<small class="text-muted">10 Days ago</small>
							<p><%=comment.text%></p>
							<%if(currentUser && comment.author.id.equals(currentUser._id || currentUser && currentUser.isAdmin)){%>
								<a class="btn btn-warning" 
								href="/listings/<%=listing._id%>/comments/<%=comment._id%>/edit">
									Edit
								</a>
								<form class="d-inline" 
								action="/listings/<%=listing._id%>/comments/<%=comment._id%>?_method=DELETE" 
								method="POST">
									<button class="btn btn-danger">Delete</button>
								</form>
							<%}%>
						</li>
					<%})%>
				</ul>
			</div>
		</div>
	</div>
</div>
<%include ../partials/footer%>