<%include ../partials/header%>

<header class="container-fluid d-flex align-items-center" id="header" style="background-image: url('https://source.unsplash.com/whqHBbiC7tY')">
	<div class="container text-center text-white">
		<h1 class="display-2">Strange Estates Blog</h1>
	</div>
</header>

<main class="container">
		<%foundBlogs.forEach(function(post){%>
		<div class="card text-center m-5">
			<a href="/blog/<%=post._id%>">
				<img class="card-img-top" src="<%=post.image.src%>" 
				alt="<%=post.image.alt%>"></a>
			<div class="card-body">
				<a href="/blog/<%=post._id%>"><h4 class="card-title"><%=post.title%></h4></a>
				<div class="card-text">
					<p>
						<%let concat = post.text.indexOf(".")+1;
						if (concat<1) {
							concat = 140;
						}
						%><%=post.text.slice(0,concat)%>
						</p>
				</div>
			</div>
			<div class="card-footer">
				<p>
					Posted <b><%=post.dateCreated.toDateString()%></b> by <b><%=post.author.username%></b>
					</p>
			</div>
		</div>
		<%});%>
</main>

<%include ../partials/footer%>