<%include ../partials/header%>

<div class="container-fluid d-flex align-items-center flex-column justify-content-center"
 id="header" style="background-image: url('<%=post.image.src%>')">
	<div class="text p-0 p-md-5 text-center rounded">
		<h1 class="display-2 m-0"><%=post.title%></h1>
	</div>
</div>

<main class="container mt-3 rounded bg-white py-4">
	<p class="col-12">
		<%-post.text%>
	</p>
	<p class="col-12 text-muted text-right">
		Posted <%=post.dateCreated.toDateString()%> by <%=post.author.username%>
	</p>
</main>

<%include ../partials/footer%>